:root {
  --typography-font-size-10: 10px;
  --typography-font-size-12: 12px;
  --typography-font-size-14: 14px;
  --typography-font-size-16: 16px;
  --typography-font-size-18: 18px;
  --typography-font-size-20: 20px;
  --typography-font-size-24: 24px;
  --typography-font-size-32: 32px;
  --typography-font-size-40: 40px;
  --typography-font-size-48: 48px;
  --typography-font-size-56: 56px;
  --typography-font-size-64: 64px;
  --typography-font-size-72: 72px;
  --typography-letter-spacing-tight: -0.2px;
  --typography-letter-spacing-normal: 0px;
  --typography-letter-spacing-wide: 0.2px;
  --typography-weight-bold: 700;
  --typography-weight-regular: 400;
  --typography-weight-light: 300;
  --typography-weight-extra-bold: 800;
  --typography-line-height-16: 16px;
  --typography-line-height-20: 20px;
  --typography-line-height-24: 24px;
  --typography-line-height-28: 28px;
  --typography-line-height-32: 32px;
  --typography-line-height-40: 40px;
  --typography-line-height-48: 48px;
  --typography-line-height-56: 56px;
  --typography-line-height-64: 64px;
  --typography-line-height-80: 80px;
  --color-blue-50: #cfe7f3;
  --color-blue-100: #9ecfe7;
  --color-blue-200: #6eb8db;
  --color-blue-300: #3da0cf;
  --color-blue-400: #2594c9;
  --color-blue-500: #0d88c3;
  --color-blue-600: #0a608a;
  --color-blue-700: #074867;
  --color-blue-800: #051d29;
  --color-blue-900: #090909;
  --color-neutral-0: #ffffff;
  --color-neutral-50: #d2d2d2;
  --color-neutral-100: #d3d3d3;
  --color-neutral-200: #a7a7a8;
  --color-neutral-300: #4e5051;
  --color-neutral-400: #38393a;
  --color-neutral-500: #222425;
  --color-neutral-600: #151717;
  --color-neutral-700: #101011;
  --color-neutral-800: #090909;
  --color-neutral-900: #060606;
  --color-danger-100: #f3aeae;
  --color-danger-500: #eb6f70;
  --color-danger-700: #ec2d30;
  --color-warning-100: #ebd6ae;
  --color-warning-500: #ffc62b;
  --color-warning-700: #fe9b0e;
  --color-success-100: #aeebc4;
  --color-success-500: #6bc497;
  --color-success-700: #0c9d61;
  --color-info-100: #f1f8ff;
  --color-info-500: #4ba1ff;
  --color-info-700: #3a70e2;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-42: 42px;
  --effects-shadow-sm-x: 0px;
  --effects-shadow-sm-y: 2px;
  --effects-shadow-sm-blur: 4px;
  --effects-shadow-sm-spread: 0px;
  --effects-shadow-md-x: 0px;
  --effects-shadow-md-y: 4px;
  --effects-shadow-md-blur: 12px;
  --effects-shadow-md-spread: 0px;
  --effects-shadow-lg-x: 0px;
  --effects-shadow-lg-y: 12px;
  --effects-shadow-lg-blur: 32px;
  --effects-shadow-lg-spread: -4px;
  --effects-glow-sm-x: 0px;
  --effects-glow-sm-y: 0px;
  --effects-glow-sm-blur: 4px;
  --effects-glow-sm-spread: 0px;
  --effects-glow-md-x: 0px;
  --effects-glow-md-y: 0px;
  --effects-glow-md-blur: 14px;
  --effects-glow-md-spread: 0px;
  --effects-glow-lg-x: 0px;
  --effects-glow-lg-y: 0px;
  --effects-glow-lg-blur: 16px;
  --effects-glow-lg-spread: 0px;
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-pill: 9999px;
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-500);
  --color-text-tertiary: var(--color-neutral-300);
  --color-text-disabled: var(--color-neutral-200);
  --color-text-brand: var(--color-blue-500);
  --color-text-inverse: var(--color-neutral-0);
  --color-feedback-danger-foreground: var(--color-danger-700);
  --color-feedback-danger-default: var(--color-danger-500);
  --color-feedback-danger-background: var(--color-danger-100);
  --color-feedback-warning-foreground: var(--color-warning-700);
  --color-feedback-warning-default: var(--color-warning-500);
  --color-feedback-warning-background: var(--color-warning-100);
  --color-feedback-success-foreground: var(--color-success-700);
  --color-feedback-success-default: var(--color-success-500);
  --color-feedback-success-background: var(--color-success-100);
  --color-feedback-info-foreground: var(--color-info-700);
  --color-feedback-info-default: var(--color-info-500);
  --color-feedback-info-background: var(--color-info-100);
  --color-surface-primary: var(--color-neutral-0);
  --color-surface-secondary: var(--color-neutral-100);
  --color-surface-tertiary: var(--color-neutral-200);
  --color-surface-brand: var(--color-blue-500);
  --color-surface-inverse: var(--color-neutral-900);
  --color-on-surface-primary: var(--color-neutral-900);
  --color-on-surface-secondary: var(--color-neutral-600);
  --color-on-surface-tertiary: var(--color-neutral-500);
  --color-container-high: var(--color-neutral-200);
  --color-container-default: var(--color-neutral-100);
  --color-container-low: var(--color-neutral-50);
  --radius-sm: var(--radius-4);
  --radius-md: var(--radius-8);
  --radius-lg: var(--radius-12);
  --radius-xl: var(--radius-16);
  --radius-2xl: var(--radius-24);
  --shadow-sm: 0px 2px 4px 0px var(--color-neutral-200);
  --shadow-md: 0px 4px 12px 0px var(--color-neutral-200);
  --shadow-lg: 0px 12px 32px -4px var(--color-neutral-200);
  --glow-sm: 0px 0px 4px 0px var(--color-blue-400);
  --glow-md: 0px 0px 14px 0px var(--color-blue-400);
  --glow-lg: 0px 0px 16px 0px var(--color-blue-400);
}
